* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
#datetime-picker {
  font-size: x-large;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 15px;
  border-color: darkgreen;
}
button {
  font-size: x-large;
  border-radius: 15px;
  margin: 10px;
  /* background-color: darkgreen;
  color: #fff;
  border-color: darkgreen; */
}
.field {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 28px;
}
.value {
  font-size: xxx-large;
  font-weight: lighter;
  color: dimgrey;
}
.label {
  font-size: large;
  font-weight: bold;
  text-transform: lowercase;
  color: dimgrey;
}
